.btn {
    background-color: #C0C0C0;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid #393939;
    border-bottom: 2px solid #393939;
    border-radius: 0;
    outline: none;
}

.btn:active {
    border-right: 2px solid #C0C0C0;
    border-bottom: 2px solid #C0C0C0;
    border-top: 2px solid #393939;
    border-left: 2px solid #393939;
}

.btn:active .btn-text {
    border: dotted 1.5px black;
    padding-left: 2px;
    padding-right: 2px;
}